<div *ngIf="product; else noProduct">
  <h2>{{ product.name }}</h2>
  <p><strong>Precio:</strong> ${{ product.price }}</p>
  <p><strong>Descripción:</strong> {{ product.description || 'No disponible' }}</p>
  <p><strong>Características:</strong></p>
  <ul>
    <li *ngFor="let caracteristica of product.caracteristicas">{{ caracteristica }}</li>
  </ul>
  <p><strong>Garantía:</strong> {{ product.garantia.periodo }} ({{ product.garantia.tipo }})</p>
  

  <button (click)="addToCart(product)">Agregar al carrito</button>
</div>


<ng-template #noProduct>
  <p>Producto no disponible.</p>
</ng-template>
